:root {
    --background: #f0f0f0;
    --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

html,
body {
    max-width: 100vw;
    /* overflow-x: hidden; */
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

header {
    background: linear-gradient(to bottom, #f00505a0, #f34747 70%);
    backdrop-filter: blur(7px);
    height: 70px;
    box-shadow: 0 0 10px #863232;
    position: sticky;
    top: 0;
    z-index: 20;
    border-bottom: 2px solid #863232;
}

header > nav {
    display: flex;
    justify-content: space-between;
    height: inherit;
    padding: 7px 40px;
    width: 100%;
}

header > nav > div {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 5px;
}

header > nav > div:last-child {
    justify-content: flex-end;
}

header > nav > div > a {
    display: block;
    height: 100%;
    padding: 7px 15px;
    border-radius: 5px;
}

header > nav > div > a:has(img):hover {
    animation: rotate 1s ease-in-out;
}

@keyframes rotate {
    0% {
        rotate: 0;
    }
    100% {
        rotate: 360deg;
    }
}

header > nav > div > a:not(:has(img)) {
    height: fit-content;
    transition: 0.2s;
    font-weight: 600;
}

header > nav > div > a:not(:has(img)):hover {
    background: #fff5;
    color: white;
}

header > nav > div > a > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.center > *,
.topcenter > * {
    text-align: center;
}

.center > p {
    text-align: justify;
    opacity: 0.9;
}

.topgap {
    margin-top: 20px;
}

.cta {
    border: 2px dashed #5401ad;
    color: #5401ad;
    background: #fff5;
    width: fit-content;
    padding: 7px 20px;
    border-radius: 5px;
    margin-right: 0;
    margin-left: auto;
    transition: 0.2s;
}

.cta:hover {
    background: white;
    border: 2px dashed #555;
}

h1 {
    font-size: 2.5em;
}
h1,
p {
    color: var(--foreground);
}

section {
    position: relative;
}

.topcenter {
    margin: 0 auto;
    margin-top: 50px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ol > li {
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
}

ol > li > p {
    font-weight: 500;
}

.login_button {
    border: 2px dashed #f0f0f0;
}

.sad_note {
    height: 300px;
    object-fit: contain;
    width: 100%;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.postContainer {
    position: relative;
}

.postContainer > img {
    cursor: pointer;
}

.postContainer > .fullPost {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    background: #fff2;
    backdrop-filter: blur(5px);
    z-index: 50;
}
/* 
.fullPost > div {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    background: #f0f0f0;
    padding: 20px;
    height: 100vh;
    border-radius: 5px 5px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

.fullPost > div * {
    width: fit-content;
}

.fullPost .commentSection {
    margin-bottom: 0;
    margin-top: auto;
}

.fullPost > div > :not(.commentSection) {
    flex: 1;
}

.commentSection input {
    background: #acacac;
    border: none;
    outline: none;
    padding: 7px 15px;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    display: inline-block;
}

.commentSection button {
    padding: 7px 15px;
    box-sizing: border-box;
    display: inline-block;
    border: none;
    border-radius: 0 10px 10px 0;
}
/* 
.mainDisplay {
    padding: 0 !important;
    background: transparent !important;
    margin-left: 0 !important;
}

.mainDisplay * {
    padding: 0 !important;
    background: transparent !important;
    margin-left: 0 !important;
    margin-right: auto !important;
    position: relative !important;
    left: 0;
    right: auto; */
/* } */

.fullPost {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.allComments {
    width: fit-content;
    background: linear-gradient(to bottom right, #f0f0f0, #f0f0f0e0);
    padding: 20px;
    height: calc(100vh - 30px);
    border-radius: 5px 5px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.allComments > div:first-child {
    width: 100%;
    overflow-y: scroll;
    max-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.allComments .username {
    color: #acacac;
    font-size: 0.8rem;
}

.mainDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.trashCan {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    display: block;
    cursor: pointer;
}

.trashCan:hover {
    filter: brightness(1.5);
}

.trashCan > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.postContainer:hover > .trashCan {
    opacity: 1;
    pointer-events: all;
}
